body{
    font-family: 'Fugaz One', cursive;
    color: #333333c7;
}
.hide{
    display: none;
}

.font-1{
   font-family: 'Fredericka the Great', cursive;
}
.menu{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
}

.mtop{
    margin-top: 10%;
}
.shadow-kka{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16)
}
.text-lg{
    font-size: 6em;
}
.text-md{
    font-size: 3em;
}
.footbox{
    height: 200px;
}

/* Bounce */
.spaceball {
    display: flex;
    justify-content: center;
  }
  
  .ball {
    width: 70%;
    height: 100%;
  
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  .ball2 {
    width: 80%;
    height: 80%;
  
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 25px, 0); }
  }

.aniwhite:hover{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
    position:  relative;
    background-color: #fff;
}

.ani-no-bgc:hover{
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
    position:  relative;
    background-color: #4285F4;
}
.infoku:hover{
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
    position:  relative;
}
.load{
    position: absolute;
    z-index: 99;
    display: none;
}
.load-img{
    width: 100%;
    height: auto;
    border: 2px solid #f9f8f8ba;
    border-radius: 10px;
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16)
}
.modal-reg{
      position: fixed;
      top: 10%;
      right: 0;
      left: 0;
      z-index: 1030;
      display: none;
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: 10px;
      box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
      
      
  }